In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/csaf_2014.csv", sep=";")
df.head(5)

,CASEID,TM_START,TM_FINIS,DURATION,WEIGHT,RELPREF,DENOM,ID_MAINL,ID_RELRI,ID_THEOL,...,PPWORK,PPNET,I_RELIGION,I_AGE,I_EDUC,I_RACE,I_GENDER,I_FINCOME,I_MARITAL,I_REGION
0,2,4/16/2014,4/16/2014,26,"1,054",2.0,Catholic,0,0,0,...,2,1,2.0,3,1,1,1,3,3,1
1,3,4/16/2014,4/16/2014,13,"0,8647",4.0,reformed,0,0,0,...,1,1,4.0,2,4,1,2,5,4,3
2,4,4/16/2014,4/16/2014,43,"1,0185",1.0,Nondenominational,0,0,0,...,7,1,1.0,4,3,1,1,3,2,3
3,5,4/16/2014,4/16/2014,24,"0,3361",3.0,non denominational,0,0,0,...,5,1,3.0,4,1,4,1,3,1,4
4,6,4/16/2014,4/16/2014,21,"1,7005",3.0,non-denominational,0,0,0,...,1,1,3.0,2,2,1,1,3,1,3

In [9]:
labels = open("data/csaf_2014_labels.txt").read().split("\n\n")

In [23]:
print(labels[2])

2) TM_START
Interview start time
RANGE: 0 to 0
	N	Mean	Std. Deviation
Total	1573	0	0

In [13]:
print(labels[10])

10) ID_THEOL
Which, if any, of the following terms and phrases describe your religious identity? Theologically liberal [ID_THEOLBL]
RANGE: 0 to 1
	N	Mean	Std. Deviation
Total	1573	0.048	0.214
0) No	1497	95.2
1) Yes	76	4.8

In [14]:
print(labels[50])

50) SATIS_HE
How strongly do you agree or disagree with the following statements? My overall health is good compared to most people my age. [SATIS_HEALTH]
RANGE: 1 to 4
	N	Mean	Std. Deviation
Total	1541	2.034	0.675
1) Strongly agree	277	18.0
2) Agree	982	63.7
3) Disagree	234	15.2
4) Strongly disagree	48	3.1
Missing	32

In [28]:
fields = ["Q_NAME", "Description", "Option_Num", "Option_Text"]
data = []

In [50]:
def labels_to_csv(labels_path, output_filename):
    labels = open(labels_path).read().split("\n\n")
    fields = ("Q_NAME", "Description", "Option_Num", "Option_Text")
    data = []
    for label in labels:
        strings = label.split("\n")
        if not strings[0]:
            strings = strings[1:]
        if len(strings) <= 5:
            continue
        Q_NAME = strings[0].split(") ")[1]
        descr = strings[1]
        for option in strings[5:]:
            if ")" not in option:
                break
            option = option.split("\t")[0]
            br_ix = option.index(")")
            opt_num = option[:br_ix]
            opt_text = option[br_ix + 2:]
            data.append((Q_NAME, descr, opt_num, opt_text))
    pd.DataFrame([fields] + data).to_csv(output_filename, index=False, header=False)

In [51]:
labels_to_csv("data/csaf_2018_labels.txt", "csaf_2018_labels.csv")

In [ ]:
for label in labels:
    strings = label.split("\n")
    if not strings[0]:
        strings = strings[1:]
    if len(strings) <= 5:
        continue
    Q_NAME = strings[0].split(") ")[1]
    descr = strings[1]
    for option in strings[5:]:
        if ")" not in option:
            break
        option = option.split("\t")[0]
        opt_num, opt_text = option.split(") ")
        data.append((Q_NAME, descr, opt_num, opt_text))